<!DOCTYPE html>
<html ng-app='quoteBook'>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
  </head>
  <body ng-controller = 'mainCtrl'>
    <div class="jumbotron">
      <div class="container">
        <h1>Quote Book!</h1>
        <input type="text" ng-model="newQuoteText" placeholder='Add a new quote here...'>
        <input type="text" ng-model="newQuoteAuthor" placeholder="Enter the quote's author.">
        <button type="button" class="btn btn-primary" ng-click="addQuote()">Add</button>
        <div class="filter">
          Filter:<input type='text' ng-model="filterText" placeholder="Search for your favorite quote.."/>
        </div>
        <div class='quoteSection' ng-repeat ="quote in quotes | filter: filterText">
          <span class='text'>{{quote.text}}</span>
          <span class='author'>--{{quote.author}}</span>
          <button type="button" ng-click="removeQuote(quote.text)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>


    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js'></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="mainCtrl.js"></script>
    <script type="text/javascript" src="services.js">

    </script>
  </body>
</html>
